#app {
  /* Header Images */
  .header {
    @apply h-44 object-cover object-center rounded-md w-full;
  }

  img {
    @apply rounded-md;
  }

  /* Buttons */
  .btn {
    @apply !text-white !no-underline animate-click m-0 focus:scale-95 active:scale-90 active:animate-none !font-medium rounded-md text-sm px-5 py-2.5 text-center;

    & {
      @apply bg-primary hover:bg-primary-focus;
    }

    &-primary {
      @apply bg-primary hover:bg-primary-focus;
    }

    &-secondary {
      @apply bg-secondary hover:bg-secondary-focus;
    }
  }

  /* Table of Contents */
  .table-of-contents {
    @apply relative;

    a {
      @apply inline-block transition-all;
    }

    & > ol {
      @apply sticky top-[10px];
    }

    ol {
      @apply list-none;
    }

    ol > li > ol {
      padding-left: 1.5em;
    }

    /* & > ol > li {
      padding-top: 0.15em;
      padding-bottom: 0.15em;
    } */

    li.visible > a {
      @apply lg:font-semibold lg:translate-x-3;
    }

    li > a:hover {
      @apply font-bold;
    }

    li > a {
      @apply py-1;
    }

    svg {
      @apply absolute top-0 left-0 h-full -z-[1] hidden lg:!block;

      path {
        @apply transition-all fill-transparent stroke-[3px] stroke-primary;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 0 0 0 1000;
      }
    }
  }

  /* Header Anchor Links */
  :is(h1, h2, h3, h4, h5, h6) > a.header-anchor {
    text-decoration: none;
    margin-left: -2rem;
    padding-left: 2rem;
    position: relative;

    &:hover {
      text-decoration: underline;

      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' class='iconify iconify--ph' width='100%25' height='100%25' preserveAspectRatio='xMidYMid meet' viewBox='0 0 256 256'%3E%3Cpath d='M212.9 122.3l-30.3 30.3a56 56 0 0 1-79.2 0a12 12 0 1 1 16.9-16.9a32.2 32.2 0 0 0 45.3 0l30.3-30.3a32 32 0 0 0-45.3-45.3l-9.6 9.7a12 12 0 0 1-17-17l9.7-9.7a56 56 0 1 1 79.2 79.2zM115 186.2l-9.6 9.7a32 32 0 0 1-45.3-45.3l30.3-30.3a32.2 32.2 0 0 1 45.3 0a12 12 0 0 0 16.9-16.9a55.9 55.9 0 0 0-79.2 0l-30.3 30.3a56 56 0 0 0 79.2 79.2l9.7-9.7a12 12 0 0 0-17-17z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
        left: calc(2rem - 0.85em);
        position: absolute;
        width: 0.8em;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  /* Offset Anchor Links */
  :target:before {
    content: '';
    display: block;
    height: 5rem;
    margin-top: -5rem;
  }

  /* Badges */
  img[src*="https://github.com/"]
  {
    display: inline;
    margin: 0;
  }

  /* Alpine JS Cloack Until Loaded */
  [x-cloak] {
    display: none !important;
  }

  /* Task Lists */
  ul.contains-task-list {
    @apply list-none pl-0;

    li {
      @apply pl-0 flex gap-2 items-center m-0;
    }
  }

  /* Testimonials */
  .splide__track {
    @apply py-8 cursor-grab;

    p {
      @apply m-0;
    }

    p:first-child:not(:last-child) {
      @apply mb-5;
    }

    p:not(:first-child, :last-child) {
      @apply my-5;
    }

    p:last-child:not(:first-child) {
      @apply mt-5;
    }
  }

  /* Map Styles */
  .gmnoprint[style*='1000000'] {
    @apply pb-10;
  }

  .selectizer {
    @apply flex w-full justify-center;
  }

  .selectizer .selectize-control {
    @apply shadow-lg w-1/2;
  }

  #map-markers-list {
    @apply bg-white bg-opacity-95 w-1/2 h-4/6 rounded-r-md transition-all shadow-lg;
  }

  #map-markers-list .list-content {
    @apply overflow-auto h-full;
  }

  #map-markers-list .list-markers {
    @apply p-1 flex items-center gap-4;
  }

  #map-markers-list .list-markers a {
    @apply underline cursor-pointer;
  }

  #map-markers-list .list-toggle {
    @apply absolute flex justify-center cursor-pointer -right-10 top-1/2 w-10 h-auto -translate-y-1/2 bg-white bg-opacity-95 rounded-r-md;
  }

  #map-markers-list .list-toggle svg {
    @apply h-16;
  }

  .selectizer .selectize-control,
  .selectizer .selectize-control ~ * {
    @apply my-3 inline-block relative;
  }

  .selectizer button.btn.btn-primary {
    @apply rounded-md rounded-l-none border-0 w-1/5 h-auto min-h-[unset] p-0 shadow-lg;
  }

  .selectizer .selectize-control > .selectize-input {
    @apply rounded-md rounded-r-none border-0 overflow-y-auto overflow-x-hidden block;
  }

  .selectizer .selectize-control > .selectize-input,
  .selectizer .selectize-control > .selectize-dropdown,
  #map-markers-list {
    @apply font-sans text-sm p-2 no-underline;
  }

  .selectizer .selectize-control > .selectize-dropdown {
    @apply absolute z-10 top-0;
  }

  .selectizer .selectize-control > .selectize-input * {
    @apply no-underline relative;
    color: inherit;
  }

  #map {
    @apply w-full h-[calc(100vh-72px)];

    img {
      @apply rounded-none;
    }
  }
}
