#app {
  /* Header Images */
  .header {
    @apply h-44 object-cover object-center rounded-md w-full;
  }

  img {
    @apply rounded-md;
  }

  /* Buttons */
  .btn {
    @apply !text-white !no-underline inline-block whitespace-normal animate-click m-0 focus:scale-95 active:scale-90 active:animate-none !font-medium rounded-md text-sm px-5 py-2.5 text-center;

    & {
      @apply bg-primary hover:bg-primary-focus;
    }

    &-primary {
      @apply bg-primary hover:bg-primary-focus;
    }

    &-secondary {
      @apply bg-secondary hover:bg-secondary-focus;
    }

    &-full {
      @apply block m-auto text-lg w-fit;
    }
  }

  #map {
    .btn {
      &:focus,
      &:active,
      & {
        @apply animate-none scale-100;
      }
    }
  }

  /* Table of Contents */
  .table-of-contents {
    @apply relative;

    a {
      @apply inline-block transition-all;
    }

    & > ol {
      @apply sticky top-[10px];
    }

    ol {
      @apply list-none;
    }

    ol > li > ol {
      padding-left: 1.5em;
    }

    li > a.active {
      @apply lg:font-medium lg:translate-x-1;
    }

    li > a:hover {
      @apply underline;
    }

    li > a {
      @apply py-1 leading-tight mr-3 ml-2;
    }

    svg {
      @apply absolute top-0 left-0 h-full -z-[1] hidden lg:!block -translate-x-px pointer-events-none;

      path {
        @apply transition-all fill-transparent stroke-[3px] stroke-primary pointer-events-none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 0 0 0 1000;
      }
    }
  }

  /* Header Anchor Links */
  :is(h1, h2, h3, h4, h5, h6) > a.header-anchor {
    text-decoration: none;
    margin-left: -2rem;
    padding-left: 2rem;
    position: relative;

    &:hover {
      text-decoration: underline;

      &::before {
        content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGFyaWEtaGlkZGVuPSd0cnVlJyB2aWV3Qm94PScwIDAgMjU2IDI1Nic+DQogIDxwYXRoDQogICAgZD0nbTIxMi45IDEyMi4zLTMwLjMgMzAuM2E1NiA1NiAwIDAgMS03OS4yIDAgMTIgMTIgMCAxIDEgMTYuOS0xNi45IDMyLjIgMzIuMiAwIDAgMCA0NS4zIDBsMzAuMy0zMC4zYTMyIDMyIDAgMCAwLTQ1LjMtNDUuM2wtOS42IDkuN2ExMiAxMiAwIDAgMS0xNy0xN2w5LjctOS43YTU2IDU2IDAgMSAxIDc5LjIgNzkuMnpNMTE1IDE4Ni4ybC05LjYgOS43YTMyIDMyIDAgMCAxLTQ1LjMtNDUuM2wzMC4zLTMwLjNhMzIuMiAzMi4yIDAgMCAxIDQ1LjMgMCAxMiAxMiAwIDAgMCAxNi45LTE2LjkgNTUuOSA1NS45IDAgMCAwLTc5LjIgMGwtMzAuMyAzMC4zYTU2IDU2IDAgMCAwIDc5LjIgNzkuMmw5LjctOS43YTEyIDEyIDAgMCAwLTE3LTE3eicNCiAgICBmaWxsPSdjdXJyZW50Q29sb3InIC8+DQo8L3N2Zz4NCg==');
        left: calc(2rem - 0.85em);
        position: absolute;
        width: 0.8em;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  /* Offset Anchor Links */
  :target:before {
    content: '';
    display: block;
    height: 5rem;
    margin-top: -5rem;
  }

  /* Badges */
  img[src*="https://github.com/"]
  {
    display: inline;
    margin: 0;
  }

  /* Alpine JS Cloack Until Loaded */
  [x-cloak] {
    display: none !important;
  }

  /* Task Lists */
  ul.contains-task-list {
    @apply list-none pl-0;

    li {
      @apply pl-0 flex gap-2 items-center m-0;
    }
  }

  /* Testimonials */
  .splide__track {
    @apply py-8 cursor-grab;

    p {
      @apply m-0;
    }

    p:first-child:not(:last-child) {
      @apply mb-5;
    }

    p:not(:first-child, :last-child) {
      @apply my-5;
    }

    p:last-child:not(:first-child) {
      @apply mt-5;
    }
  }

  /* Map Styles */
  /* .gmnoprint[style*='1000000'] {
    @apply pb-10;
  } */

  .selectizer {
    @apply flex w-full justify-center;
  }

  .selectizer .selectize-control {
    @apply shadow-lg w-1/2;
  }

  #map-markers-list {
    @apply bg-white bg-opacity-95 w-3/4 sm:w-1/2 h-4/6 rounded-r-md transition-all shadow-lg;
  }

  #map-markers-list .list-content {
    @apply overflow-auto h-full;
  }

  #map-markers-list .list-markers {
    @apply p-1 flex items-center gap-2;
  }

  #map-markers-list .list-markers a {
    @apply underline cursor-pointer;
  }

  #map-markers-list .list-toggle {
    @apply absolute flex justify-center cursor-pointer -right-10 top-1/2 w-10 h-auto -translate-y-1/2 bg-white bg-opacity-95 rounded-r-md;
  }

  #map-markers-list .list-toggle svg {
    @apply h-16;
  }

  .selectizer .selectize-control,
  .selectizer .selectize-control ~ * {
    @apply my-3 inline-block relative;
  }

  .selectizer button.btn.btn-primary {
    @apply rounded-md rounded-l-none border-0 w-1/5 h-auto min-h-[unset] p-0 shadow-lg;
  }

  .selectizer .selectize-control > .selectize-input {
    @apply rounded-md rounded-r-none border-0 overflow-y-auto overflow-x-hidden block;
  }

  .selectizer .selectize-control > .selectize-input,
  .selectizer .selectize-control > .selectize-dropdown,
  #map-markers-list {
    @apply font-sans text-sm p-2 no-underline;
  }

  .selectizer .selectize-control > .selectize-dropdown {
    @apply absolute z-10 top-0;
  }

  .selectizer .selectize-control > .selectize-input * {
    @apply no-underline relative;
    color: inherit;
  }

  #map {
    @apply w-full h-[calc(100vh-72px)];

    img {
      @apply rounded-none;
    }
  }
}
