/* purgecss start ignore */

#pagebodycontentpageactions > div.hidden-sm.hidden-xs,
#pagebodycontentheader,
#pagebodycontent,
#pagebody > div:nth-child(2) > div.panel-heading,
#pagebody > div:nth-child(4),
#pagebody > form {
  display: none;
}

.panel-body,
.panel.panel-primary {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
}

#app .is-empty.is-editor-empty::before {
  @apply text-neutral absolute;
  content: attr(data-placeholder);
}

#app .ProseMirror {
  @apply relative;
}

#app .ProseMirror .ProseMirror-gapcursor:after {
  border-width: 1px;
  top: -5px;
  background-color: black;
}

.prose :where(.iframe-wrapper):not(:where([class~='not-prose'] *)),
.prose :where(div[id^='pdf']):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose > :where(.iframe-wrapper:last-child):not(:where([class~='not-prose'] *)),
.prose > :where(div[id^='pdf']:last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose
  > :where(.iframe-wrapper:first-child):not(:where([class~='not-prose'] *)),
.prose
  > :where(div[id^='pdf']:first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(hr):not(:where([class~='not-prose'] *)) {
  @apply border-primary;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.prose :where(hr:first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(hr:last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose :where(tbody th):not(:where([class~='not-prose'] *)) {
  vertical-align: middle;
  padding: 0.5714286em;
}

.prose :where(tbody th:first-child):not(:where([class~='not-prose'] *)) {
  padding-left: 0;
}

.prose :where(tbody th:last-child):not(:where([class~='not-prose'] *)) {
  padding-right: 0;
}

#app :is(#appMainContent, #mycontent) td > p,
#app :is(#appMainContent, #mycontent) td > p,
#app :is(#appMainContent, #mycontent) th > p,
#app :is(#appMainContent, #mycontent) blockquote > p,
#app :is(#appMainContent, #mycontent) li > p {
  @apply m-0;
}

#app img {
  &.ProseMirror-selectednode {
    @apply ring-2 ring-offset-2 ring-primary-focus;
  }
}

#app .iframe-wrapper {
  @apply relative pb-[56.25%] w-full h-auto overflow-hidden rounded-md;
  &.ProseMirror-selectednode {
    @apply ring-2 ring-offset-2 ring-primary-focus;
  }
}

#app iframe {
  @apply w-full rounded-md overflow-hidden;
}

#app :is(#appMainContent, #mycontent) .menu .is-active {
  @apply bg-primary text-white;
}

#app :is(#appMainContent, #mycontent) .menu button[disabled] {
  @apply !text-primary-content-fade hover:!bg-transparent hover:!text-primary-content-fade;
}

#app
  :is(#appMainContent, #mycontent)
  > div[id^='app']:not([id='appMenu'], [id='appMainContent'])
  > :where(:first-child):not(:where([class~='not-prose'] *)) {
  @apply mt-0;
}

#app
  :is(#appMainContent, #mycontent)
  > div[id^='app']:not([id='appMenu'], [id='appMainContent'])
  > :where(:lasat-child):not(:where([class~='not-prose'] *)) {
  @apply mb-0;
}

#app
  :is(#appMainContent, #mycontent)
  > div[id^='app']:not([id='appMenu'], [id='appMainContent'])
  > .ProseMirror {
  @apply border-x-[3px] border-b-[3px] rounded-b-lg border-primary py-5 px-3 max-w-[85ch];
}

#app
  :is(#appMainContent, #mycontent)
  > div[id^='app']:not([id='appMenu'], [id='appMainContent'], .active) {
  @apply pointer-events-none;
}

#app
  :is(#appMainContent, #mycontent)
  > div[id^='app']:not([id='appMenu'], [id='appMainContent'], .active)
  > .ProseMirror::before {
  @apply w-full h-full absolute right-0 left-0 top-0 bottom-0 rounded-b-lg bg-base-300 bg-opacity-80 backdrop-blur-3xl pointer-events-none z-10;
  content: '';
}

#app div[id^='pdf'] {
  object[type='application/pdf'] {
    @apply w-full h-96 flex justify-center items-center text-center bg-base-300 font-medium rounded-md;

    & span {
      @apply p-5;
    }
  }

  &.ProseMirror-selectednode object[type='application/pdf'] {
    @apply bg-primary-content-fade ring-2 ring-offset-2 ring-primary-focus;
  }
}

#app .iframe-wrapper > iframe {
  @apply absolute top-0 left-0 h-full w-full rounded-md overflow-hidden;
}

#app ul > li::marker {
  @apply !text-neutral-focus;
}

#app mark {
  @apply p-0 bg-[#ff0];
  color: unset;
}

.tippy-box[data-theme~='light'] {
  @apply bg-primary rounded-lg backdrop-blur-sm shadow-md;
}

.tippy-box[data-theme~='light'] > .tippy-svg-arrow {
  fill: #0a254e;
}

#app ul[data-type='taskList'] {
  list-style: none;
  padding: 0;
  label {
    @apply m-0 flex items-center;
  }
  p {
    margin: 0;
  }

  li {
    @apply flex m-px;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }
  }
}

script ~ br {
  display: none;
}

/* purgecss end ignore */
