/* purgecss start ignore */

#pagebodycontentpageactions > div.hidden-sm.hidden-xs,
#pagebodycontentheader,
#pagebodycontent,
#pagebody > div:nth-child(2) > div.panel-heading,
#pagebody > div:nth-child(4),
#pagebody > form {
  display: none;
}

.panel-body,
.panel.panel-primary {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
}

#app .is-empty.is-editor-empty::before {
  @apply text-neutral absolute;
  content: attr(data-placeholder);
}

#app .ProseMirror {
  @apply relative;
}

#app .ProseMirror .ProseMirror-gapcursor:after {
  border-width: 1px;
  top: -5px;
  background-color: black;
}

.prose :where(.iframe-wrapper):not(:where([class~='not-prose'] *)),
.prose :where(div[id^='pdf']):not(:where([class~='not-prose'] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose > :where(.iframe-wrapper:last-child):not(:where([class~='not-prose'] *)),
.prose > :where(div[id^='pdf']:last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

.prose
  > :where(.iframe-wrapper:first-child):not(:where([class~='not-prose'] *)),
.prose
  > :where(div[id^='pdf']:first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(hr):not(:where([class~='not-prose'] *)) {
  @apply border-primary;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.prose :where(hr:first-child):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
}

.prose :where(hr:last-child):not(:where([class~='not-prose'] *)) {
  margin-bottom: 0;
}

#app #appMainContent li > p {
  @apply m-0;
}

#app #appMainContent blockquote > p {
  @apply m-0;
}

#app img {
  &.ProseMirror-selectednode {
    @apply ring-2 ring-offset-2 ring-primary-focus;
  }
}

#app .iframe-wrapper {
  @apply relative pb-[56.25%] w-full h-auto overflow-hidden rounded-md;
  &.ProseMirror-selectednode {
    @apply ring-2 ring-offset-2 ring-primary-focus;
  }
}

#app iframe {
  @apply w-full rounded-md overflow-hidden;
}

#app #appMainContent .menu .is-active {
  @apply bg-primary text-white;
}

#app #appMainContent .menu button[disabled] {
  @apply !text-primary-content-fade hover:!bg-transparent hover:!text-primary-content-fade;
}

#app
  #appMainContent
  > div[id^='app']:not([id='appMenu'])
  > :where(:first-child):not(:where([class~='not-prose'] *)) {
  @apply mt-0;
}
#app
  #appMainContent
  > div[id^='app']:not([id='appMenu'])
  > :where(:lasat-child):not(:where([class~='not-prose'] *)) {
  @apply mb-0;
}

#app #appMainContent > div[id^='app']:not([id='appMenu']) > .ProseMirror {
  @apply border-x-[3px] border-b-[3px] rounded-b-lg border-primary py-5 px-3 max-w-[85ch];
}

#app div[id^='pdf'] {
  object[type='application/pdf'] {
    @apply w-full h-96 flex justify-center items-center text-center bg-base-300 font-medium rounded-md;

    & span {
      @apply p-5;
    }
  }

  &.ProseMirror-selectednode object[type='application/pdf'] {
    @apply bg-primary-content-fade ring-2 ring-offset-2 ring-primary-focus;
  }
}

#app .iframe-wrapper > iframe {
  @apply absolute top-0 left-0 h-full w-full rounded-md overflow-hidden;
}

#app .tip {
  @apply relative inline-block text-center;
  --tooltip-offset: calc(100% + 1px + var(--tooltip-tail, 0px));
  --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));
  --tooltip-tail: 3px;
}

#app .tip:before {
  @apply max-w-xs rounded px-2 py-1 text-xs font-mono absolute bg-primary text-primary-content w-max;
  pointer-events: none;
}

#app .tip:before,
#app .tip:after {
  @apply opacity-0 transition-all duration-100 ease-in-out z-50;
}

#app .tip:hover:before,
#app .tip:hover:after {
  @apply opacity-100 delay-1000;
}

#app .tip:after {
  @apply absolute;
}

#app .tip:before {
  content: attr(data-tip);
}

#app .tip:after {
  content: '';
  border-style: solid;
  border-width: var(--tooltip-tail, 0);
  width: 0;
  height: 0;
  display: block;
  position: absolute;
}

#app .tip {
  &:before {
    transform: translateX(-50%);
    top: var(--tooltip-offset);
    left: 50%;
    right: auto;
    bottom: auto;
  }

  &:after {
    @apply border-transparent !border-b-primary;
    transform: translateX(-50%);
    top: var(--tooltip-tail-offset);
    left: 50%;
    right: auto;
    bottom: auto;
  }
}

#app ul > li::marker {
  @apply !text-neutral-focus;
}

#app ul[data-type='taskList'] {
  list-style: none;
  padding: 0;
  label {
    @apply m-0 flex items-center;
  }
  p {
    margin: 0;
  }

  li {
    @apply flex m-px;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }
  }
}

script ~ br {
  display: none;
}

/* purgecss end ignore */
