@import 'preflight.css';
@import 'app.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#pagefooter,
#pageheader,
#pagenav-wrapper,
#pagebodycontentheader {
  display: none;
}

#pagebodycontent {
  float: none;
  padding: 0;
}

#pagebody {
  margin-top: 0;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: unset;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
  font-weight: inherit;
}

.prose :where(tbody td):not(:where([class~='not-prose'] *)) {
  @apply align-middle;
}
