@import 'preflight.css';
@import 'app.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

@layer utilities {
  .text-vertical {
    writing-mode: vertical-rl;
  }

  .text-normal {
    writing-mode: initial;
  }
}

#pagefooter,
#pageheader,
#pagebodycontentheader {
  display: none;
}

#pagenav-wrapper {
  display: none;
}

#pagebodycontent {
  float: none;
  padding: 0;
}

#pagenav.navbar,
#pagenav.navbar-fixed-top {
  position: relative;
  margin-bottom: 0;
  border: 0px;
}

#pagebody {
  margin-top: 0;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: unset;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
  font-weight: inherit;
}

.prose :where(tbody td):not(:where([class~='not-prose'] *)) {
  @apply align-middle;
}

.prose {
  .btn {
    @apply mb-1;
  }
}

/* Badges */
#app img[src*="https://github.com/"]
{
  display: inline;
  margin: 0;
}

/* Alpine JS Cloack Until Loaded */
#app [x-cloak] {
  display: none !important;
}

/* Hide Badges for Preview */
#app div[data-hidebadge] {
  display: none;
}

/* purgecss end ignore */
