{% if actions | length %}
  <div id="actions" class="w-full p-8 pb-16 gap-10 flex flex-col justify-center relative z-10 {% if background %} bg-black bg-opacity-30 text-primary-content {% else %} text-base-content {% endif %} prose max-w-full">
    {% for action in actions %}
      <div class="flex items-stretch flex-col {% if loop.index % 2 %} md:flex-row {% else %} md:flex-row-reverse {% endif %} justify-center items-center">
        <div class="flex-auto md:flex-1 text-center bg-center bg-no-repeat bg-cover rounded-t-2xl md:rounded-none md:min-h-[20rem] {% if loop.index % 2 %} md:rounded-l-2xl {% else %} md:rounded-r-2xl {% endif %} basis-auto md:basis-0" style="background-image: url('{{ action.picture }}')">
          <div class="hover:bg-opacity-50 transition-all flex flex-col justify-center w-full h-full p-5 bg-black rounded-t-2xl md:rounded-none {% if loop.index % 2 %} md:rounded-l-2xl {% else %} md:rounded-r-2xl {% endif %} backdrop-blur-sm bg-opacity-40">
            <h1 class="text-5xl text-primary-content">{{ action.title }}</h1>
            <a href="{{ action.link }}" class="inline-flex items-center justify-center gap-2 group btn">
              <span class="text-base">See More</span>
              <ion-icon class="text-base transition-transform group-hover:-translate-x-1" name="arrow-forward-outline"></ion-icon>
            </a>
          </div>
        </div>
        <div class="group flex-auto md:flex-1 text-base overflow-hidden font-medium bg-white bg-opacity-60 backdrop-blur-sm rounded-b-2xl md:rounded-none {% if loop.index % 2 %} md:rounded-r-2xl {% else %} md:rounded-l-2xl {% endif %} basis-auto md:basis-0 text-base-content relative flex justify-center items-center">
          <div class="z-10 p-5">
            {{ action.text | safe }}
          </div>
          <ion-icon class="transition-transform absolute -bottom-16 {% if loop.index % 2 %} -right-12 -rotate-90  group-hover:rotate-[-93deg]  {% else %} -left-12 group-hover:rotate-3 {% endif %} z-0 opacity-30 text-base-content text-[20rem] md:text-[25rem]" name="paper-plane">&nbsp;</ion-icon>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
