{% if env === 'development' %}
  {% if type === 'brochure' %}
    {% extends './brochure.njk' %}
  {% else %}
    {% extends './page.njk' %}
  {% endif %}
{% else %}
  {% extends './prod.njk' %}
{% endif %}

{% if env === 'stage' %}
  {% set logo %}
  {% include "images/logo_stage.svg" %}
  {% endset %}
{% else %}
  {% set logo %}
  {% include "images/logo.svg" %}
  {% endset %}
{% endif %}

{% if not('actions' in order) %}
  {{ order.push('actions') }}
{% endif %}

{% if not('content' in order) %}
  {{ order.push('content') }}
{% endif %}

{% if not('testimonials' in order) %}
  {{ order.push('testimonials') }}
{% endif %}

{% block content %}

  {% set css %}
  {% include "styles/main.css" %}
  {% if type === 'brochure' %}
    {% include "styles/brochure.css" %}
  {% endif %}
  {% endset %}

  {% set js %}
  {% include "scripts/smoothscroll.js" %}
  {% include "scripts/wave.js" %}
  {% include "scripts/toc.js" %}
  {% include "scripts/planes.js" %}
  {% include "scripts/deadlines.js" %}
  {% endset %}

  {% if env !== 'development' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  {% endif %}

  <style>
    {{css | postcss | safe}}
  </style>

  <div  x-data="{ scroll: '' }" id="app">
    <div class="absolute {% if header and author %} top-[calc(100vh+272px)] {% elif header %} top-[calc(100vh+222px)] {% else %} top-[calc(100vh+72px)] {% endif %} overflow-none {% if header and author %} h-[calc(100%-100vh-272px)] {% elif header %} h-[calc(100%-100vh-222px)] {%else%} h-[calc(100%-100vh-72px)] {% endif %} w-full pointer-events-none -z-50" x-intersect:enter="scroll = 'bg-opacity-95'" x-intersect:leave="scroll = ''">&nbsp;</div>
    <div class="fixed top-0 right-0 w-full h-screen bg-scroll bg-white bg-center bg-no-repeat bg-cover pointer-events-none" {% if background %} style="background-image: url('{{ background }}')" {% endif %}>&nbsp;</div>

    {% include "./nav.njk" %}

    {% include "./header.njk"%}

    {% include "./hero.njk" %}

    {% for item in order %}

      {% if item === 'actions' %}
        {% include "./actions.njk" %}
      {% elif item === 'content' %}
        {% include "./content.njk" %}
      {% elif item === 'testimonials' %}
        {% include "./testimonials.njk" %}
      {% endif %}
    {% endfor %}

    {% include "./footer.njk" %}

    <div id="planes" class="fixed top-0 left-0 z-0 w-full h-full pointer-events-none">&nbsp;</div>
  </div>

  {% if testimonials | length %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.3.7/dist/js/splide-extension-auto-scroll.min.js"></script>

    <script>
      {% include "scripts/testimonials.js" %}
    </script>
  {% endif %}

  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tsparticles/1.41.4/tsparticles.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/mousetrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/plugin/utc.min.js"></script>

  <script>
    {{ js | safe }}
  </script>

  <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% endblock %}
