{% extends './css.njk' %}

{% if env === 'stage' %}
  {% set logo %}
  {% include "images/logo_stage.svg" %}
  {% endset %}
{% else %}
  {% set logo %}
  {% include "images/logo.svg" %}
  {% endset %}
{% endif %}

{% if not('actions' in order) %}
  {{ order.push('actions') }}
{% endif %}

{% if not('content' in order) %}
  {{ order.push('content') }}
{% endif %}

{% if not('testimonials' in order) %}
  {{ order.push('testimonials') }}
{% endif %}

{% set content %}

{% set js %}
{% include "scripts/smoothscroll.js" %}

{% if header %}
  {% include "scripts/wave.js" %}
{% endif %}

{% include "scripts/planes.js" %}

{% if content.includes('table-of-contents') %}
  {% include "scripts/toc.js" %}
{% endif %}

{% if content.includes('turnredafter') %}
  {% include "scripts/deadlines.js" %}
{% endif %}

{% if type === 'brochure' %}
  {% include "scripts/brochure.js" %}
{% endif %}
{% endset %}

{% if env !== 'development' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{% endif %}

<div x-data="{ scroll: '', currentId: window.location.hash ? window.location.hash.slice(1) : 'appOverview', aagFocused: false, lastUpdate: null, editor: function(){ return null } }" x-init="$store.background = $store.background ? $store.background : '{{ background }}'; $store.bgPosition = $store.bgPosition ? $store.bgPosition : '{{ bgPosition }}'" id="app" style="position: relative;">
  <div class="absolute {% if (header and author) or (header and type === 'brochure') %} top-[calc(100vh+272px)] {% elif header %} top-[calc(100vh+222px)] {% else %} top-[calc(100vh+72px)] {% endif %} overflow-none {% if (header and author) or (header and type === 'brochure')  %} h-[calc(100%-100vh-272px)] {% elif header %} h-[calc(100%-100vh-222px)] {%else%} h-[calc(100%-100vh-72px)] {% endif %} w-full pointer-events-none -z-50" x-intersect:enter="scroll = 'bg-opacity-95'" x-intersect:leave="scroll = ''">&nbsp;</div>
  <div id="appBackground" class="fixed top-0 right-0 w-full h-screen bg-scroll bg-white bg-center bg-no-repeat bg-cover pointer-events-none" x-bind:style="$store.background ? 'background-image: url(\'' + $store.background + '\'); background-position: ' + ($store.bgPosition || '50%') + ';' : ''">&nbsp;</div>

  {% include "./nav.njk" %}

  {% include "./header.njk"%}

  {% include "./hero.njk" %}

  {% for item in order %}

    {% if item === 'actions' %}
      {% include "./actions.njk" %}
    {% elif item === 'content' %}
      {% include "./content.njk" %}
    {% elif item === 'testimonials' %}
      {% include "./testimonials.njk" %}
    {% endif %}
  {% endfor %}

  {% include "./footer.njk" %}

  <div id="planes" class="fixed top-0 left-0 z-0 w-full h-full pointer-events-none">&nbsp;</div>

  {% if testimonials | length %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.3.7/dist/js/splide-extension-auto-scroll.min.js"></script>

    <script>
      {% include "scripts/testimonials.js" %}
    </script>
  {% endif %}

  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tsparticles/1.41.4/tsparticles.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/mousetrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/plugin/utc.min.js"></script>

  {% if type === 'brochure' %}
    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>

    <script>
      window.backgrounds = {{ backgrounds | printCode | safe }};
    </script>

    <!--STRIP SCRIPT-->

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/svg-arrow.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

    {% if env === 'production' %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endif %}

    <script>
      {% include "scripts/get.js" %}

      window.addEventListener('load', function () {
        tippy.createSingleton(tippy('[data-tippy-content]'), {
          delay: [
            1000, 0
          ],
          placement: 'bottom',
          arrow: tippy.roundArrow
        })

        const ttBackgroundColorTemplate = document.getElementById('template-tt-background-color')
        ttBackgroundColorTemplate.style.display = 'block'

        tippy("#tt-background-color-set", {
          content: ttBackgroundColorTemplate,
          allowHTML: true,
          trigger: "click",
          interactive: true,
          placement: 'bottom',
          theme: 'light',
          arrow: tippy.roundArrow
        })

        const ttTextColorTemplate = document.getElementById('template-tt-text-color')
        ttTextColorTemplate.style.display = 'block'

        tippy("#tt-text-color-set", {
          content: ttTextColorTemplate,
          allowHTML: true,
          trigger: "click",
          interactive: true,
          placement: 'bottom',
          theme: 'light',
          arrow: tippy.roundArrow
        })

        const setLink = document.getElementById('template-tt-link')
        setLink.style.display = 'block'

        tippy("#tt-link", {
          content: setLink,
          allowHTML: true,
          trigger: "click",
          interactive: true,
          placement: 'bottom',
          theme: 'light',
          arrow: tippy.roundArrow
        })

        const setEmbed = document.getElementById('template-tt-embed')
        setEmbed.style.display = 'block'

        tippy("#tt-embed", {
          content: setEmbed,
          allowHTML: true,
          trigger: "click",
          interactive: true,
          placement: 'bottom',
          theme: 'light',
          arrow: tippy.roundArrow
        })

        const setPDF = document.getElementById('template-tt-pdf')
        setPDF.style.display = 'block'

        tippy("#tt-pdf", {
          content: setPDF,
          allowHTML: true,
          trigger: "click",
          interactive: true,
          placement: 'bottom',
          theme: 'light',
          arrow: tippy.roundArrow
        })

        const setImage = document.getElementById('template-tt-image')
        setImage.style.display = 'block'

        tippy("#tt-image", {
          content: setImage,
          allowHTML: true,
          trigger: "click",
          interactive: true,
          placement: 'bottom',
          theme: 'light',
          arrow: tippy.roundArrow
        })

        const changeBrochureSettings = document.getElementById('changeBrochureSettings-template')
        changeBrochureSettings.style.display = 'block'

        tippy("#changeBrochureSettings", {
          content: changeBrochureSettings,
          allowHTML: true,
          trigger: "click",
          interactive: true,
          theme: 'light',
          arrow: tippy.roundArrow,
          popperOptions: {
            positionFixed: true
          }
        })
      })
    </script>

    <script src="{% if preview %}.{% endif %}{{ pathPrefix }}{% if not preview %}pages/{% endif %}tiptap.js"></script>

    <!--STRIPEND SCRIPT-->

  {% endif %}

  <script>
    {{ js | safe }}
  </script>

  <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</div>

{% endset %}
