{% if env == 'development' %}
  {% if type == 'brochure' %}
    {% extends './brochure.njk' %}
  {% else %}
    {% extends './page.njk' %}
  {% endif %}
{% else %}
  {% extends './prod.njk' %}
{% endif %}

{% if env == 'stage' %}
  {% set logo %}
  {% include "images/logo_stage.svg" %}
  {% endset %}
{% else %}
  {% set logo %}
  {% include "images/logo.svg" %}
  {% endset %}
{% endif %}

{% block content %}

  {% set css %}
  {% include "styles/main.css" %}
  {% if type == 'brochure' %}
    {% include "styles/brochure.css" %}
  {% endif %}
  {% endset %}

  <style>
    {{css | postcss | safe}}
  </style>

  <div  x-data="{ scroll: '' }" id="app">
    <div class="absolute top-[102vh] overflow-none h-[calc(100%-102vh)] w-full pointer-events-none -z-50" x-intersect:enter="scroll = 'bg-opacity-90'" x-intersect:leave="scroll = ''">&nbsp;</div>

    {% include "./nav.njk" %}
    <div class="prose min-h-screen mx-auto px-8 my-5">
      {% if env == 'stage' %}
        <h1>Stage Test</h1>
      {% endif %}

      {{ content | safe }}
    </div>

    <footer class="bg-opacity-85 bg-black relative">
      <div class="py-5 flex flex-col justify-center items-center text-gray-400 text-xslg:text-sm text-center text-primary-content text-opacity-70 focus:outline-none font-medium">
        <a href="/" class="h-8 mb-2">{{ logo | safe }}</a>

        <span>&copy; {% year %} Liberty University. All Rights Reserved.</span>

        <a class="mt-1 text-accent underline hover:text-accent-focus flex items-center justify-center gap-1" href="https://www.liberty.edu/osd/lu-send/staff/">
          <ion-icon name="call-outline">&nbsp;</ion-icon>
          <span>Contact Us</span>
        </a>

        <a class="text-primary-content text-opacity-70 hover:text-opacity-50 underline flex items-center justify-center gap-1" href="{{ edit }}">
          <ion-icon name="create-outline">&nbsp;</ion-icon>
          <span>Edit Page</span>
        </a>
      </div>
    </footer>

  </div>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% endblock %}
