{% set breadcrumbs = collections.pages | eleventyNavigationBreadcrumb(eleventyNavigation.key, {includeSelf: true}) %}

{% macro renderBreadcrumbItem(entry, first = false, last = false) %}
  {% if first %}
    <li class="inline-flex items-center pl-0 m-0 {% if background %} text-white {% else %} text-base-300 {% endif %}">
      <{% if last %}div{% else %}a{% endif %} href="{{ entry.url }}" class="hover:!font-bold no-underline inline-flex items-center gap-1 items-center text-sm !font-medium">
        <ion-icon class="text-xs" name="home">&nbsp;</ion-icon>
        <span class="whitespace-nowrap">{{ entry.title | safe }}</span>
      </{% if last %}div{% else %}a{% endif %}>
    </li>
  {% else %}
    <li {% if last %}aria-current="page"{% endif %} class="pl-0 m-0 {% if background %} text-white {% else %} text-base-300 {% endif %}">
      <div class="flex items-center">
        <ion-icon name="chevron-forward">&nbsp;</ion-icon>
        <a {% if last %} id="appCurrentBreadcrumb" {% if type === 'brochure' %} x-html="$store.program.getTitle()" {% endif %} {% endif %} href="{{ '#' if last else entry.url }}" class="hover:!font-bold whitespace-nowrap ml-1 lg:ml-2 no-underline text-sm !font-medium">{{ entry.title | safe }}</a>
      </div>
    </li>
  {% endif %}
{% endmacro %}

<nav class="flex breadcrumbs" aria-label="Breadcrumb">
  <ul class="inline-flex flex-wrap items-center justify-center w-full gap-1 pl-0 m-0 list-none navMD:justify-start lg:space-x-2">
    {% for entry in breadcrumbs %}
      {{ renderBreadcrumbItem(entry, loop.first, loop.last)}}
    {% endfor %}
  </ul>
</nav>
