{% if header %}
  <div class="relative z-20 flex flex-row justify-center w-full px-8 pt-12 pb-5 mx-auto text-base bg-primary {% if background %} !bg-black !bg-opacity-60 !pt-[13vh] sm:!pt-[18vh] md:!pt-[23vh] navMD:!pt-[33vh] lg:!pt-[38vh] {% endif %} text-primary-content">
    <div class="max-w-[calc(65ch+16.25rem)] flex-1 flex flex-col gap-1 items-center navMD:items-start">
      <div class="flex flex-col items-stretch justify-center w-full gap-5 navMD:gap-10 navMD:flex-row navMD:justify-between">
        <div class="flex flex-col max-w-[65ch]">
          {% include "./breadcrumbs.njk" %}
          <div class="prose">
            <h1 id="appTitle" class="text-center navMD:text-left text-primary-content" {% if type === 'brochure' %} x-html="$store.program.getTitle()" {% endif %}>{{ title }}</h1>
          </div>
          {% if author !== false or type === 'brochure' %}
            <div id="appSubtitle" {% if type === 'brochure' %} x-html="$store.program.getDate()" {% endif %} class="mt-3 text-sm text-center {% if background %} text-white {% else %} text-base-300 {% endif %} navMD:text-left">
              {% if author !== false %}
                {% if author | length %}
                  <div>
                    <span>Written By </span>
                    <strong>{{ author | safe }}</strong>
                  </div>
                {% endif %}
                <div>
                  <span>Last Updated</span>
                  <strong>{{ page.date | postDate }}</strong>
                </div>
              {% endif %}
              {% if type === 'brochure' %} &nbsp; {% endif %}
            </div>
            {% if type === 'brochure' %}
              <div id="appApplicationDeadline" x-html="$store.program.getAppDeadline()" class="text-xs text-center {% if background %} text-white {% else %} text-base-300 {% endif %} font-extralight navMD:text-left">&nbsp;</div>
            {% endif %}
          {% endif %}
        </div>
        {% if type === 'brochure' %}
          <div class="flex flex-col items-center justify-center gap-2" x-data="{ clicked: false }">
            <span x-show="$store.program.getDisableApply() && clicked" x-html="$store.program.getDisableApply()" class="max-w-sm navMD:max-w-[11rem] text-xs justify-self-start" x-transition x-cloak>&nbps;</span>
            <a id="appApplyNow" x-on:click="clicked = true" x-on:click.outside="clicked = false" x-bind:title="$store.program.getDisableApply()" x-bind:disabled="!!$store.program.getDisableApply()" target="_blank" class="w-full max-w-sm bg-transparent border-2 btn border-primary-content hover:bg-white hover:!text-primary transition-colors" x-bind:href="$store.program.getDisableApply() ? false : 'https://liberty-sa.terradotta.com/index.cfm?FuseAction=Students.Apply&RequiredProfile=1&Program_ID=' + $store.program.id" x-cloak>Apply Now</a>
            <a id="appRequestInfo" target="_blank" class="w-full max-w-sm bg-transparent border-2 btn border-primary-content hover:bg-white hover:!text-primary transition-colors" x-bind:href="'https://liberty-sa.terradotta.com/index.cfm?FuseAction=Programs.InfoRequest&Program_ID=' + $store.program.id" x-cloak>Request More Info</a>
          </div>
        {% endif %}
      </div>

      {% if type === 'brochure' %}
        <div class="w-full max-w-md mt-5 navMD:hidden">
          <label for="tabs" class="sr-only">Select a tab</label>
          <select id="tabs" x-model="currentId" x-on:change="window.location.hash = currentId" class="text-white rounded-lg block w-full p-2.5 bg-neutral bg-opacity-80 border-2 border-primary-content-fade">
            <option value="appOverview">Trip Overview</option>
            <option value="appResources" x-show="!location.href.includes('terradotta') || document.getElementById('appResources').innerHTML.trim().slice(6)" x-cloak>Travel Resources</option>
            <option value="appSafety" x-show="!location.href.includes('terradotta') || document.getElementById('appSafety').innerHTML.trim().slice(6)" x-cloak>Travel Safety</option>
            <option value="appChecklist" x-show="!location.href.includes('terradotta') || document.getElementById('appChecklist').innerHTML.trim().slice(6)" x-cloak>Traveler Checklist</option>
            <option value="appFlights" x-show="!location.href.includes('terradotta') || document.getElementById('appFlights').innerHTML.trim().slice(6)" x-cloak>Program Itinerary</option>
            <option value="appPacking" x-show="!location.href.includes('terradotta') || document.getElementById('appPacking').innerHTML.trim().slice(6)" x-cloak>Packing Guide</option>
          </select>
        </div>
        <div class="hidden navMD:!block w-full mt-5">
          <ul class="flex flex-wrap justify-center -mb-px text-sm font-medium text-center {% if background %}text-primary-content {% else %} text-primary-content-fade {% endif %}">
            <li>
              <button href="#" x-on:click.prevent="currentId = 'appOverview'; window.location.hash = 'appOverview';" x-bind:class="currentId === 'appOverview' && '!text-accent !border-accent'" class="transition-colors inline-flex p-2.5 jusitfy-center items-center gap-1 rounded-t-lg border-b-2 border-neutral hover:text-primary-content hover:border-primary-content-fade group">
                <ion-icon name="folder">&nbsp;</ion-icon>
                <span>Trip Overview</span>
              </button>
            </li>
            <li x-show="!location.href.includes('terradotta') || document.getElementById('appResources').innerHTML.trim().slice(6)" x-cloak>
              <button href="#" x-on:click.prevent="currentId = 'appResources'; window.location.hash = 'appResources'" x-bind:class="currentId === 'appResources' && '!text-accent !border-accent'" class="transition-colors inline-flex p-2.5 jusitfy-center items-center gap-1 rounded-t-lg border-b-2 border-neutral hover:text-primary-content hover:border-primary-content-fade group">
                <ion-icon name="book">&nbsp;</ion-icon>
                <span>Travel Resources</span>
              </button>
            </li>
            <li x-show="!location.href.includes('terradotta') || document.getElementById('appSafety').innerHTML.trim().slice(6)" x-cloak>
              <button href="#" x-on:click.prevent="currentId = 'appSafety'; window.location.hash = 'appSafety'" x-bind:class="currentId === 'appSafety' && '!text-accent !border-accent'" class="transition-colors inline-flex p-2.5 jusitfy-center items-center gap-1 rounded-t-lg border-b-2 border-neutral hover:text-primary-content hover:border-primary-content-fade group">
                <ion-icon name="nuclear">&nbsp;</ion-icon>
                <span>Travel Safety</span>
              </button>
            </li>
            <li x-show="!location.href.includes('terradotta') || document.getElementById('appChecklist').innerHTML.trim().slice(6)" x-cloak>
              <button href="#" x-on:click.prevent="currentId = 'appChecklist'; window.location.hash = 'appChecklist'" x-bind:class="currentId === 'appChecklist' && '!text-accent !border-accent'" class="transition-colors inline-flex p-2.5 jusitfy-center items-center gap-1 rounded-t-lg border-b-2 border-neutral hover:text-primary-content hover:border-primary-content-fade group">
                <ion-icon name="checkbox">&nbsp;</ion-icon>
                <span>Traveler Checklist</span>
              </button>
            </li>
            <li x-show="!location.href.includes('terradotta') || document.getElementById('appFlights').innerHTML.trim().slice(6)" x-cloak>
              <button href="#" x-on:click.prevent="currentId = 'appFlights'; window.location.hash = 'appFlights'" x-bind:class="currentId === 'appFlights' && '!text-accent !border-accent'" class="transition-colors inline-flex p-2.5 jusitfy-center items-center gap-1 rounded-t-lg border-b-2 border-neutral hover:text-primary-content hover:border-primary-content-fade group">
                <ion-icon name="paper-plane">&nbsp;</ion-icon>
                <span>Program Itinerary</span>
              </button>
            </li>
            <li x-show="!location.href.includes('terradotta') || document.getElementById('appPacking').innerHTML.trim().slice(6)" x-cloak>
              <button href="#" x-on:click.prevent="currentId = 'appPacking'; window.location.hash = 'appPacking'" x-bind:class="currentId === 'appPacking' && '!text-accent !border-accent'" class="transition-colors inline-flex p-2.5 jusitfy-center items-center gap-1 rounded-t-lg border-b-2 border-neutral hover:text-primary-content hover:border-primary-content-fade group">
                <ion-icon name="briefcase">&nbsp;</ion-icon>
                <span>Packing Guide</span>
              </button>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="overflow-hidden leading-[0]">
    <svg id="header-wave" class="z-10 relative -mt-1 text-primary {% if background %} !text-white !mt-0 {% endif %}" viewBox="0 0 1200 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
    {% if background %} style="fill-opacity: 0.6;" fill="black" {% else %} fill="currentColor" {% endif %}
    d="M 1200,0 H 0 V 37 C 67,26 133,15 200,10 C 266,4 333,5 400,23 C 466,41 533,76 600,79 C 677,78 738,53 800,48 C 866,44 933,63 1000,62 C 1065,62 1131,41 1200,19 V 0 Z"
/>
      <path
    {% if background %} style="fill-opacity: 0.8;" {% else %} style="fill-opacity: 0;" {% endif %}
    d="M 1200,0 H 0 V 37 C 67,26 133,15 200,10 C 266,4 333,5 400,23 C 466,41 533,76 600,79 C 677,78 738,53 800,48 C 866,44 933,63 1000,62 C 1065,62 1131,41 1200,19 V 0 Z"
    fill="currentColor"
/>
    </svg>
  </div>
{% endif %}
