{% set css %}
{% include "styles/main.css" %}
{% endset %}

{% set js %}
{% include "scripts/env.js" %}
{% include "scripts/commit.js" %}
{% include "scripts/preview.js" %}
{% endset %}

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LU Send Website</title>
    <style>
      {{css | postcss | safe}}
    </style>
  </head>

  <body>
    <div id="app">
      <div class="prose prose-a:font-[initial] m-auto">
        {{ content | safe }}

        <label for="envToggle" class="my-5 not-prose cursor-pointer flex w-full items-center">
          <strong id="envToggleLabel" class="flex-auto">
            Production Content
          </strong>
          <div class="relative">
            <input type="checkbox" checked="checked" autocomplete="off" onchange="toggleEnv()"  id="envToggle" class="sr-only peer"/>
            <div class="absolute left-1 top-1 bg-white w-6 h-6 rounded-full peer-checked:translate-x-full bg-primary transition z-10"></div>
            <div class="bg-base-300 w-14 h-8 rounded-full z-0"></div>
          </div>
        </label>

        {% for item in collections.pages %}
          <div class="mb-2">
            <div class="flex items-center">
              <div class="flex-auto uppercase font-bold rounded-lg py-2 px-5 bg-base-300 rounded-r-none">{{ item.data.title }}</div>
              <button id="{{ item.data.slug + "_preview" }}" class="text-primary-content bg-primary hover:bg-primary-focus font-semibold rounded-none flex justify-center gap-2 items-center py-2 px-5">
                <ion-icon name="open-outline">&nbsp;</ion-icon>
                <span>Preview</span>
              </button>
              <button id="{{ item.data.slug + "_copy" }}" class="text-secondary-content bg-secondary hover:bg-secondary-focus font-semibold rounded-lg rounded-l-none flex justify-center gap-2 items-center py-2 px-5">
                <ion-icon name="clipboard-outline">&nbsp;</ion-icon>
                <span id="{{ item.data.slug + "_copytext" }}">Copy</span>
              </button>
            </div>
          </div>

          <script>
            window.onload = function () {
              preview('{{ item.data.slug }}', '{{ item.data.permalink | url }}', '{{ (item.data.path + "_stage.html") | url }}');
            }
          </script>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
  {{js | safe}}
  checkIfDeployed('{{ commit.id }}');
</script>
</body>
</html>
