{% set navPages = collections.pages | eleventyNavigation('home') %}

{% macro renderNavListItem(entry, separateDropdown = false, spaces = "") %}
  {% if separateDropdown %}
    {%if entry.children.length %}
      <div class="relative" x-data="{ open_{{ entry.key }}: false }" x-on:click="open_{{ entry.key }} = !open_{{ entry.key }}" x-on:click.outside="open_{{ entry.key }} = false">
        <button :class="open_{{ entry.key }} && scroll + ' bg-primary'" class="flex items-center px-3 py-2 space-x-1 text-sm font-medium rounded-md cursor-pointer hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10" aria-current="page">
          <span>{{ entry.title }}</span>
          <ion-icon x-show="!open_{{ entry.key }}" name="chevron-down-outline">&nbsp;</ion-icon>
          <ion-icon x-show="open_{{ entry.key }}" name="chevron-up-outline" x-cloak>&nbsp;</ion-icon>
        </button>
        <div x-show="open_{{ entry.key }}" :class="scroll" class="absolute mt-4 bg-primary rounded-md min-w-[18rem] shadow-md z-50 text-primary-content" x-cloak>
          <div class="px-2 pt-2 pb-3 space-y-1 max-h-[calc(90vh-72px)] overflow-auto">
            <ul>
              <li class="relative block my-1 text-base font-medium">
                <a href="{{ entry.url }}" :class="scroll" class="w-full h-full rounded-md block px-3 py-2 hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10 {% if entry.url === eleventyNavigation.url %} bg-primary-focus underline {% endif %}">
                  <span class="font-semibold">{{ entry.title }}</span>
                </a>
              </li>
              {% for child in entry.children %}
                {{ renderNavListItem(child, false, spaces) }}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% else %}
      <a href="{{ entry.url }}" :class="scroll" class="hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10 px-3 py-2 rounded-md text-sm font-medium {% if entry.url === eleventyNavigation.url %} bg-primary-focus underline {% endif %}">{{ entry.title }}</a>
    {% endif %}
  {% else %}
    <li class="relative block my-1 text-base font-medium">
      <a href="{{ entry.url }}" :class="scroll" class="w-full h-full rounded-md block px-3 py-2 hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10 {% if entry.url === eleventyNavigation.url %} bg-primary-focus {% endif %}">
        <span class="no-underline">{{ spaces | safe }}</span><span class="{% if entry.url === eleventyNavigation.url %} underline {% endif %}">{{ entry.title }}</span>
      </a>
      {% if entry.children.length %}
        <ul>
          {% for child in entry.children %}
            {{ renderNavListItem(child, false, spaces + "&emsp;") }}
          {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endif %}

{% endmacro %}

<nav x-data="{ menu: false, admin: document.querySelector('#pagenav') && document.querySelector('#pagenav').textContent.includes('Admin Console'), applicant: document.querySelector('#pagenav') && document.querySelector('#pagenav').textContent.includes('Applicant') }" class="sticky top-0 z-50 min-w-full transition-colors bg-primary not-prose" :class="scroll">
<div class="px-2 mx-auto md:px-6 lg:px-8">
  <div class="relative flex items-center justify-between h-16">

    <div class="absolute inset-y-0 left-0 flex items-center navMD:hidden">
      <button type="button" x-on:click="menu = !menu" class="inline-flex items-center justify-center gap-1 p-2 text-sm font-medium rounded-md text-primary-content hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
        <ion-icon x-show="!menu" name="menu-outline" class="text-xl">&nbsp;</ion-icon>
        <ion-icon x-show="menu" name="close-outline" class="text-xl" x-cloak>&nbsp;</ion-icon>
        <span class="hidden navXS:!block">Menu</span>
      </button>
    </div>

    <div class="flex items-center justify-center flex-1 mr-8 navMD:mr-0 navMD:flex-auto navMD:items-stretch navMD:justify-start">
      <div class="flex items-center">
        <a href="{{ link('home') }}" :class="scroll" class="h-8 px-3 py-1 rounded-md hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10 text-primary-content">{{ logo | safe }}</a>
      </div>

      <div class="hidden navMD:!block navMD:ml-6">
        <div class="flex space-x-1 text-primary-content">
          {% for entry in navPages %}
            {{ renderNavListItem(entry, true) }}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="absolute inset-y-0 right-0 flex items-center text-primary-content">
      <button x-data="{ planes: {{ '$persist(' + planes + ')' if slug !== 'home' else planes }} }" x-effect="togglePlanes(planes)" x-on:click="planes = !planes" class="inline-flex items-center justify-center gap-1 p-2 mr-1 text-sm font-medium rounded-md hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
        <ion-icon x-show="!planes" name="airplane-outline"class='text-xl' x-cloak>&nbsp;</ion-icon>
        <ion-icon x-show="planes" name="airplane"class='text-xl' x-cloak>&nbsp;</ion-icon>
      </button>
      <a x-show="!applicant && !admin" href="/index.cfm?FuseAction=Security.AngLogin" class="inline-flex items-center justify-center p-2 space-x-1 text-sm font-medium rounded-md hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
        <span class="hidden navXS:!block">Login</span>
        <ion-icon  name="log-in-outline" class='text-xl'>&nbsp;</ion-icon>
      </a>
      <div x-show="applicant || admin" class="relative" x-data="{ open: false }" x-on:click="open = !open" x-on:click.outside="open = false">
        <button class="inline-flex items-center justify-center gap-1 p-2 text-sm font-medium rounded-md hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" x-cloak>
          <span class="hidden navXS:!block">Account</span>
          <ion-icon name="person-circle-outline" class='text-xl'>&nbsp;</ion-icon>
        </button>
        <div x-show="open" :class="scroll" class="absolute mt-4 right-0 bg-primary rounded-md min-w-[15rem] shadow-md z-50" x-cloak>
          <div class="px-2 pt-2 pb-3 space-y-1 max-h-[calc(90vh-72px)] overflow-auto">
            <ul>
              <li class="relative block my-1 text-base font-medium">
                <a href="/index.cfm?FuseAction=Security.Logout" class="inline-flex items-center block w-full h-full gap-2 px-3 py-2 rounded-md hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10">
                  <ion-icon name="log-out-outline" class='text-lg'>&nbsp;</ion-icon>
                  <span>Logout</span>
                </a>
                <a x-show="admin" href="/index.cfm?FuseAction=Portal.Home" class="inline-flex items-center block w-full h-full gap-2 px-3 py-2 rounded-md hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10" x-cloak>
                  <ion-icon name="settings-outline" class='text-lg'>&nbsp;</ion-icon>
                  <span>Admin Console</span>
                </a>
                <a x-show="applicant" href="/index.cfm?FuseAction=Students.AngularHome" class="inline-flex items-center block w-full h-full gap-2 px-3 py-2 rounded-md hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10" x-cloak>
                  <ion-icon name="person-outline" class='text-lg'>&nbsp;</ion-icon>
                  <span>My Applications</span>
                </a>
                <a x-show="admin" x-data="{ advancedMenu: $persist(false) }" x-on:click="advancedMenu = !advancedMenu" x-effect="document.querySelector('#pagenav-wrapper').style.display = advancedMenu && (admin || applicant) ? 'block' : ''; advancedMenu && (admin || applicant) && window.scroll({ top: 0 })" class="inline-flex items-center block w-full h-full gap-2 px-3 py-2 rounded-md cursor-pointer hover:bg-primary-content hover:bg-opacity-20 active:bg-opacity-10" x-cloak>
                  <ion-icon x-show="!advancedMenu" name="hammer-outline" class='text-lg' x-cloak>&nbsp;</ion-icon>
                  <ion-icon x-show="advancedMenu" name="hammer" class='text-lg' x-cloak>&nbsp;</ion-icon>
                  <span>Advanced Menu</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div :class="scroll" class="absolute w-full navMD:hidden bg-primary text-primary-content" x-on:click.outside="menu = false" x-show="menu" x-cloak>
  <div class="px-2 pt-2 pb-3 space-y-1 max-h-[calc(90vh-72px)] overflow-auto">
    <ul>
      {% for entry in navPages %}
        {{ renderNavListItem(entry) }}
      {% endfor %}
    </ul>
  </div>
</div>
</nav>
