{% extends './css.njk' %}

{% set js %}
{% include "scripts/env.js" %}
{% include "scripts/commit.js" %}
{% include "scripts/preview.js" %}
{% endset %}

{% set myPages = collections.pages | eleventyNavigation %}

{% macro renderPage(entry, isChild = false, childMargin = 0) %}

  <div class="mb-2">
    <div class="flex flex-wrap items-stretch leading-tight">
      <div style="font-size: calc(1.25rem - {{childMargin * 3}}px)" class="relative flex items-center justify-start gap-2 px-3 py-2 font-semibold rounded-lg rounded-b-none sm:rounded-b-lg sm:rounded-r-none basis-full sm:basis-0 sm:flex-auto bg-base-300">
        <div style="margin-left: {{(childMargin) * 30}}px" class="">
          <div data-inputpath="{{ entry.inputPath }}" {% if not (entry.inputPath in commit.files) %} data-hidebadge="yes" {% endif %} class="absolute h-5 w-5 rounded-full -top-[0.4rem] -left-[0.4rem] shadow-sm z-10 flex items-center justify-center" style="background: goldenrod;">
            <ion-icon name="sparkles" class="text-primary-content" style="font-size: 12px;">&nbsp;</ion-icon>
          </div>
          <div class="absolute top-0 left-0 h-full rounded-tl-lg sm:rounded-l-lg bg-primary-content-fade" style="width: {{(childMargin) * 30}}px;">&nbsp;</div>
          <div>{{ entry.title }}</div>
          <div style="font-size: 10px;" class="text-xs leading-tight">({{ entry.slug }})</div>
        </div>
      </div>
      <button :class="$store.env.value === 'production' ? 'bg-primary hover:bg-primary-focus' : 'bg-secondary hover:bg-secondary-focus'" id="{{ entry.key + "_preview" }}" class="flex items-center justify-center gap-2 px-5 py-2 font-semibold transition-colors rounded-lg rounded-t-none rounded-r-none sm:rounded-r-none sm:rounded-l-none text-primary-content">
        <ion-icon name="open-outline">&nbsp;</ion-icon>
        <span>Preview</span>
      </button>
      <button x-data="{ clicked: false }" x-on:click="clicked = true" x-effect="if ($store.env.value) clicked = false" :class="$store.env.value === 'production' ? 'bg-secondary hover:bg-secondary-focus' : 'bg-primary hover:bg-primary-focus'" id="{{ entry.key + "_copy" }}" class="flex items-center justify-center flex-auto gap-2 px-5 py-2 font-semibold transition-colors rounded-lg rounded-t-none rounded-l-none sm:rounded-tr-lg sm:flex-initial text-secondary-content">
        <ion-icon x-show="!clicked" name="clipboard-outline" x-cloak>&nbsp;</ion-icon>
        <ion-icon x-show="clicked" name="clipboard" x-cloak>&nbsp;</ion-icon>
        <span id="{{ entry.key + "_copytext" }}">Copy</span>
      </button>
    </div>

    <script>
      window.addEventListener('load', function () {
        preview('{{ entry.key }}', '{{ entry.permalink | url }}', '{{ (entry.path + "_stage.html") | url }}');
      })
    </script>
  </div>

  {% if entry.children | length %}
    <div class="py-2">
      {% for item in entry.children %}
        {{ renderPage(item, true, childMargin + 1) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% set content %}
<body>
  <div id="app">
    <div x-data class="prose prose-a:font-[initial] m-auto p-5">
      {{ content | safe }}

      <label for="envToggle" class="flex items-center w-full my-5 cursor-pointer not-prose">
        <strong class="flex-auto" x-text="$store.env.label">&nbsp;</strong>
        <div class="relative">
          <input x-on:input="$store.env.toggle()" type="checkbox" checked="checked" autocomplete="off" id="envToggle" class="sr-only peer"/>
          <div class="absolute z-10 w-6 h-6 transition bg-white rounded-full left-1 top-1 peer-checked:translate-x-full bg-primary peer-checked:bg-secondary"></div>
          <div class="z-0 h-8 rounded-full bg-base-300 w-14"></div>
        </div>
      </label>

      {% for item in myPages %}
        {{ renderPage(item) }}
      {% endfor %}
    </div>
  </div>

  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <script>
    {{ js | safe }}
    checkIfDeployed();
  </script>
</body>
{% endset %}
